body {
  background-color: #000; /* Black background */
}
.container {
  background-color: #fff; /* White background for the container */
  padding: 20px;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  border: 1px solid #dd0909; /* Light gray border */
  border-radius: 5px;
  padding: 10px;
}
.username-details {
  border: 1px solid #df4e4e; /* Light blue border */
  padding: 10px;
  border-radius: 5px;
}
h2 {
  color: #fff; /* White title */
  text-align: center;
  margin-bottom: 20px;
}
